
.container {
    padding: 2.5rem;

    @media only screen and (min-width: $mobile-breakpoint) {
        .main-content {
            height: calc(100vh - #{$navbar-height-desktop});
            display: flex;
            justify-content: end;
            align-items: flex-end;

            .main-bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-image: url("/images/hero.png");
                background-size: cover;
            }
        }
    }
    

    .cta-block {
        margin-top: 0.625rem;
        background-color: $primary-color;
        width: 100%;

        .cta-head {
            height: 3.875rem;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1 {
                color: $font-light;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                text-align: center;
                font-size: 1.25rem;
            }
        }

        .cta-content {
            padding: 0rem 0.625rem 0.625rem 0.625rem;

            p {
                color: $font-light;
            }
        }

        .cta-footer {
            width: 100%;
            display: flex;
            align-items: center;
        }

        @media only screen and (min-width: $mobile-breakpoint) {
            width: 650px;
            height: 350px;
            margin-bottom: 80px;
            background-color: rgba(124, 116, 116, 0.3);

            .cta-head {
                margin-top: 20px;

                h1 {
                    font-size: 48px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }

            .cta-content {
                margin-left: 40px;
                margin-right: 40px;

                p {
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.1em;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }

            .cta-footer {
                button {
                    background-color: $primary-color;
                    color: $font-light;
                    height: 55px;
                    width: 172px;

                    font-weight: 600;
                    font-size: 18px;
                    letter-spacing: 0.1em;
                }
            }
        }
    }

    .destinations {
        margin-top: 3.125rem;

        h2 {
            @include black-text;
            text-align: center;
        }

        .cta-destinations {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2.5rem;
            width: 100%;

            button {
                background-color: $primary-color;
                color: $font-light;
            }
        }

        .destinations-content {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2.1875rem;

            .destination {
                display: flex;

                .destination-image {
                    img {
                        width: 115px;
                        height: 115px;
                    }
                }

                .destination-info {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 1.0625rem;

                    .destination-info-title {
                        @include black-text;
                        line-height: 24px;
                    }

                    .destination-info-desc {
                        @include black-text;
                        font-weight: 300;
                        font-size: 0.625rem;
                        text-transform: none;
                    }
                }
            }
        }

        @media only screen and (min-width: $mobile-breakpoint) {
            h2 {
                font-size: 36px;
            }

            .destinations-content {
                flex-direction: row;
                margin-left: 160px;
                margin-right: 160px;
                gap: 30px;
                justify-content: center;
                margin-top: 100px;

                .destination {
                    text-align: center;
                    justify-content: center;
                    flex-direction: column;

                    .destination-image {
                        img {
                            width: 350px;
                            height: 350px;
                        }
                    }

                    .destination-info {
                        justify-content: center;
                        max-width: 350px;

                        .destination-info-title {
                            font-size: 24px;
                        }

                        .destination-info-desc {
                            margin-top: 10px;
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }
                
            }

            .cta-destinations {
                margin-top: 100px;
                margin-bottom: 100px;

                button {
                    width: 180px;
                    height: 55px;
                    font-size: 18px;
                }
            }
        }

    }
}