.navbar {
    $padding: 2.5rem;

    background-color: $accent-color;
    width: calc(100% - 2 * $padding);
    height: 5rem;
    display: flex;

    padding: 0 $padding;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
        height: 150px;

        .logo {
            width: 150px;
            height: 150px;
            margin-left: 163px;
        }

        .menu {
            .menu-desktop {
                display: flex;
                margin-top: 48px;
                margin-bottom: 48px;
                margin-right: 165px;
                gap: 30px;

                .menu-item {
                    padding: 10px;

                    .menu-item-text {
                        text-decoration: none;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: $font-color;
                        font-weight: 700;
                        font-family: $font;
                    }
                }

                .menu-item-active {
                    background-color: rgba(124, 116, 116, 0.3);
                    
                }
            }

            .menu-burger {
                display: none;
            }
        }
    }
}

.container {
    padding: 2.5rem;

    .cta-block {
        margin-top: 0.625rem;
        background-color: $primary-color;
        width: 100%;

        .cta-head {
            height: 3.875rem;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1 {
                color: $font-light;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                text-align: center;
                font-size: 1.25rem;
            }
        }

        .cta-content {
            padding: 0rem 0.625rem 0.625rem 0.625rem;

            p {
                color: $font-light;
            }
        }

        .cta-footer {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    .destinations {
        margin-top: 3.125rem;

        h2 {
            @include black-text;
            text-align: center;
        }

        .cta-destinations {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2.5rem;
            width: 100%;

            button {
                background-color: $primary-color;
                color: $font-light;
            }
        }

        .destinations-content {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2.1875rem;

            .destination {
                display: flex;

                .destination-info {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 1.0625rem;

                    .destination-info-title {
                        @include black-text;
                    }

                    .destination-info-desc {
                        @include black-text;
                        font-weight: 300;
                        font-size: 0.625rem;
                        text-transform: none;
                    }
                }
            }
        }
    }
}