
.container {
    padding: 40px;

    @media only screen and (min-width: $mobile-breakpoint) {
        .main-content {
            height: calc(100vh - #{$navbar-height-desktop});
            display: flex;
            justify-content: end;
            align-items: flex-end;

            .main-bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-image: url("/images/hero.png");
                background-size: cover;
            }
        }
    }
    

    .cta-block {
        margin-top: 10px;
        background-color: $primary-color;
        width: 100%;

        .cta-head {
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1 {
                color: $font-light;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                text-align: center;
                font-size: 20px;
            }
        }

        .cta-content {
            padding: 0px 10px 10px 10px;

            p {
                color: $font-light;
            }
        }

        .cta-footer {
            width: 100%;
            display: flex;
            align-items: center;
        }

        @media only screen and (min-width: $mobile-breakpoint) {
            width: 40.625rem;
            height: 21.875rem;
            margin-bottom: 5rem;
            background-color: rgba(124, 116, 116, 0.3);

            .cta-head {
                margin-top: 1.25rem;

                h1 {
                    font-size: 3rem;
                    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                }
            }

            .cta-content {
                margin-left: 2.5rem;
                margin-right: 2.5rem;

                p {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    letter-spacing: 0.1em;
                    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
                }
            }

            .cta-footer {
                button {
                    background-color: $primary-color;
                    color: $font-light;
                    height: 3.4375rem;
                    width: 10.75rem;

                    font-weight: 600;
                    font-size: 1.125rem;
                    letter-spacing: 0.1em;
                }
            }
        }
    }

    .destinations {
        margin-top: 50px;

        h2 {
            @include black-text;
            text-align: center;
        }

        .cta-destinations {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            width: 100%;

            button {
                background-color: $primary-color;
                color: $font-light;
            }
        }

        .destinations-content {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            gap: 35px;

            .destination {
                display: flex;

                .destination-image {
                    img {
                        width: 7.1875rem;
                        height: 7.1875rem;
                    }
                }

                .destination-info {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 17px;

                    .destination-info-title {
                        @include black-text;
                        line-height: 1.5rem;
                    }

                    .destination-info-desc {
                        @include black-text;
                        font-weight: 300;
                        font-size: 10px;
                        text-transform: none;
                    }
                }
            }
        }

        @media only screen and (min-width: $mobile-breakpoint) {
            h2 {
                font-size: 2.25rem;
                line-height: 2.625rem;
            }

            .destinations-content {
                flex-direction: row;
                // margin-left: 10rem;
                // margin-right: 10rem;
                gap: 1.875rem;
                justify-content: center;
                margin-top: 6.25rem;

                .destination {
                    text-align: center;
                    justify-content: center;
                    flex-direction: column;

                    .destination-image {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .destination-info {
                        justify-content: center;
                        max-width: 21.875rem;

                        .destination-info-title {
                            font-size: 1.5rem;
                        }

                        .destination-info-desc {
                            margin-top: 0.625rem;
                            font-size: 1.125rem;
                            line-height: 1.375rem;
                        }
                    }
                }
                
            }

            .cta-destinations {
                margin-top: 6.25rem;
                margin-bottom: 6.25rem;

                button {
                    width: 11.25rem;
                    height: 3.4375rem;
                    font-size: 1.125rem;
                }
            }
        }

    }
}