* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    background-color: rgba(11, 187, 26, 0.712);
    display: flex;
    height: 100vh;

    justify-content: center;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
}

.inner-container {
    display: flex;
    background-color: orange;
    width: 1200px;

    padding: 1rem;
    gap: 10px;

    margin-bottom: 2rem;
    margin-top: 2rem;

    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    background-color: red;
    height: 250px;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.item p {
    color: white;
    font-family: Verdana;
    font-size: 42px;
}